<div class="row">
	<div class="row">
	<section class="content">
		<div class="login-box {{ loading ? 'loading' : '' }}" ng-class="(error && 'error')">
			<form name="form" ng-submit="changePassword()">
				<div class="message alert-danger margin-bottom-1" ng-show="message">
					<span class="text-danger">{{message}}</span>
				</div>
				<div class="message margin-bottom-1" ng-show="successMessage">
					<div class="color-white">{{successMessage}}</div>
				</div>
				<div ng-if="!successMessage">

					<div class="row">
						<input type="password" name="newPassword" class="form-control" ng-model="user.password" placeholder="New Password" required>
					</div>
					<div class="row">
						<input type="password" name="confirmPassword" class="form-control" ng-model="user.confirmPassword" placeholder="Confirm Password" required>
					</div>
					<div class="row button-row">
						<button class="btn btn-block" type="submit">Save</button>
					</div>
				</div>
				<div class="row forgot-password">
					<a ng-click="backToLogin">Back to Login</a>
				</div>
			</form>
		</div>
	</section>
	<div>
<div>
